@use '@angular/material' as mat;

.navbar {
    border-bottom: 5px solid var(--mat-sys-primary);

    @include mat.toolbar-overrides((container-background-color: var(--mat-sys-on-primary-container),
        container-text-color: var(--mat-sys-on-primary),
        standard-height: 80px,
    ));}

.logo {
    max-height: 34px;
}

.mat-toolbar-row {
    width: 95%;
    margin: 0 auto;
}